body {
    margin: 0;
    color: #fff;
    background: url("../images/Top-Floor-Background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* fade in effect */
#full-page {
    margin: 10pt;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* fade in effect */

#logo-container {
    display: flex;
    justify-content: center;
}

#logo {

}

#navbar {
    margin-bottom: 20pt;
}

#nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    
}

.nav-link {
    font-size: 25pt;
    display: block;
    color: rgb(240, 240, 240);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    transition: 0.1s ease-in-out;
}

#last-nav-link {

}

#about {

}

#about-container {

}

#contact {
    
}

.header-container {
    display: flex;
    justify-content: center;
}

.content-container {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    margin: 0 50pt;
}