body {
    margin: 0;
    color:rgb(240, 240, 240);
    background-color: #000000;
    background: url("../images/Top-Floor-Background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* fade in effect */
#full-page {
    margin: 10pt;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* fade in effect */

#logo-container {
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
}

#logo {
    max-width: 100%;
}

#navbar {
    margin-bottom: 20pt;
}

#nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* .nav-item {
    
} */

.nav-link {
    font-size: 40pt;
    display: block;
    color: rgb(240, 240, 240);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    color: #88ffe5;
}

/* #about {

} */

/* #about-container {

} */

/* #contact {
    
} */

.header-container {
    margin: 100pt 50pt 0 50pt;
}

.header-container h2 {
    font-size: 35pt;
}

.content-container {
    background-color: #000000;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 0 50pt;
}

.content-container p {
    padding: 0 20pt;
    font-size: 25pt;
}

#email {
    color: #ffffff;
}

#email:hover {
    color: #88ffe5;
}

#phone-number {
    color: #ffffff;
}

#phone-number:hover {
    color: #88ffe5;
}

@media only screen and (max-width: 600px) {
    #full-page {
        margin: 10pt;
        animation: fadeIn 1s;
        -webkit-animation: fadeIn 1s;
        -moz-animation: fadeIn 1s;
        -o-animation: fadeIn 1s;
        -ms-animation: fadeIn 1s;
    }
    
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    @-moz-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    @-o-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    @-ms-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    /* fade in effect */

    #navbar {
        margin-bottom: 0;
    }

    .nav-link {
        font-size: 20pt;
    }

    .header-container {
        margin: 35pt 25pt 0 25pt;
        display: flex;
        justify-content: center;
    }

    .header-container h2 {
        font-size: 18pt;
    }

    .content-container {
        margin: 0 10pt;
    }

    .content-container p {
        padding: 0 10pt;
        font-size: 12pt;
    }
}